@import "../lib/node_modules/tether/dist/css/tether.min.css";
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

body {
	background-color: grey;
}

#bodyWrapper {
	height: 100vh;
}

#AngularWrapper {
	height: 100%;
}

#subNavbar {
	height: 100%;
}

#articlesWrapper {
	height: 100%;
	overflow: scroll;
}

.card-header img {
	max-width: 10%;
}
