@import "../lib/node_modules/tether/dist/css/tether.min.css";
@import "../lib/node_modules/bootstrap/scss/bootstrap.scss";

body {
	background-color: grey;
}

#AngularWrapper {
	height: 100vh;
}

#subNavbar {
	height: 93%;
}

#articlesWrapper {
	height: 100%;
	overflow: scroll;
}

.row {
	margin-left: 0;
}

.card-header img {
	max-width: 10%;
}
