
<div ng-include="'templates/navbar_partial.html'"></div>

<div class="row" id="subNavbar">

	<div class="col-sm-2 bg-faded sidebar" ng-include="'templates/filter_partial.html'"></div>
	<div id="articlesWrapper" class="col-sm-10">

		<div id="accordion" role="tablist" aria-multiselectable="true">

		  <div class="card" ng-repeat="article in articles | filter: {headline: search.searchTerm}">

		    <div class="card-header" role="tab" id="heading{{$index}}">
			    <img class="w-20 rounded float-right" src="{{article.logoURL}}" alt="{{article.sourceName}} logo">
		      <h5 class="mb-0">
		        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{$index}}" aria-expanded="true" aria-controls="collapse{{$index}}">
		          {{article.headline}}
		        </a>
		      </h5>
		    </div>

		    <div id="collapse{{$index}}" class="collapse" role="tabpanel" aria-labelledby="heading{{$index}}">
		      <div class="card-block">
			      <img class="w-25 rounded float-right" src="{{article.imageURL}}" alt="News Image">
		        <p>{{article.copy}}</p>
		        <p><a href="{{article.link}}" target="_blank" rel="noopener noreferrer">Full Article</a></p>
		        <p><small class="text-muted">{{article.sourceName}} - {{article.date}}</small></p>
		      </div>
		    </div>

		  </div> <!-- card -->
	  </div> <!-- accordion -->
  </div> <!-- articlesWrapper -->
</div> <!-- row -->
