<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse" ng-controller="NavbarController">
  <div class="navbar-nav">
	  <a class="navbar-brand" href="#">SpinTrack</a>
    <a class="nav-item nav-link" href="#">Logout</a>
    <!-- <a class="nav-item nav-link" href="#">Filter</a> -->
    <form class="form-inline mt-2 mt-md-0" _lpchecked="1">
          <input class="form-control mr-sm-2" type="text" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
